In [84]:
#heart_disease

In [85]:
#getting the data ready
#x = heart_disease.drop("target", axis =1)
#y = heart_disease.target

In [86]:
#plt.plot(x,y)

In [87]:
#np.array(x)

In [88]:
#len(x)

In [89]:
#x.size

In [90]:
# '2. Choose the right estimator/algorithm for our problems', model/hyperparameters
# hyperparameters are like settings of a model that we can tune to get better results(or worse)
#from sklearn.ensemble import RandomForestClassifier
#clf = RandomForestClassifier()
#clf.get_params()
#RandomForestClassifier is a classification model 
#clf is a short for classifier in ml
#classification model is capable of learning patterns in data and classify if a sample(row) is one thing or another ring

In [91]:
#"3. Fit the model/algorithm and use it to make predictions on our data"

#from sklearn.model_selection import train_test_split
#x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2)
#split the data between training and test
#test size = 0.2 = 20%, 80% for training

In [92]:
#clf.fit(x_train, y_train)

In [93]:
#y_preds = clf.predict(x_test)

In [94]:
#y_preds

In [95]:
#y_test

In [96]:
#x_train

In [97]:
#x_test

In [98]:
#clf.score(x_train, y_train)

In [99]:
#clf.score(x_test, y_test)

In [100]:
#from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
#print(classification_report()

## Getting data ready to be used with machine learning

In [101]:
# Split the data into features and labels ("X" and "y")
# Filling (also called imputing) or disregarding missing values
# Converting non-numerical values to numerical-values(feature encoding)

#heart_disease

In [102]:
#heart_disease.head()

In [103]:
#x = heart_disease.drop("target", axis = 1)

In [104]:
#x

In [105]:
#car_sales = pd.read_csv("car-sales.csv")

In [106]:
#car_sales

In [107]:
#heart_disease.head()

In [108]:
#X = heart_disease.drop("target",axis=1)
#features

In [109]:
#y = heart_disease["target"]
#label

In [110]:
#y.head()

In [111]:
#from sklearn.model_selection import train_test_split

In [112]:
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [113]:
#X_train.shape

In [114]:
#X_test.shape

In [115]:
#y_train.shape

In [116]:
#y_test.shape

In [117]:
#make sure its all numerical

car_sales = pd.read_csv("data/car-sales-extended.csv")

In [118]:
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [119]:
len(car_sales)

1000

In [120]:
np.array(car_sales)

array([['Honda', 'White', 35431, 4, 15323],
       ['BMW', 'Blue', 192714, 5, 19943],
       ['Honda', 'White', 84714, 4, 28343],
       ...,
       ['Nissan', 'Blue', 66604, 4, 31570],
       ['Honda', 'White', 215883, 4, 4001],
       ['Toyota', 'Blue', 248360, 4, 12732]], dtype=object)

In [121]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestRegressor
np.random.seed(42)

car_sales_missing = pd.read_csv("data/car-sales-extended-missing-data.csv")

car_sales_missing["Make"].fillna("missing", inplace = True)
car_sales_missing["Colour"].fillna("missing", inplace = True)
car_sales_missing["Odometer (KM)"].fillna(car_sales_missing["Odometer (KM)"].mean(), inplace = True)
car_sales_missing["Doors"].fillna(car_sales_missing["Doors"].mode()[0], inplace = True)
car_sales_missing.dropna(inplace = True)
dummies = pd.get_dummies(car_sales_missing[["Make", "Colour", "Doors"]])

X = car_sales_missing.drop("Price", axis = 1)
y = car_sales_missing["Price"]
categorical_features =  ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
newx = pd.get_dummies(car_sales_missing[["Make", "Colour", "Doors", "Odometer (KM)"]])
transformer = ColumnTransformer([("one_hot", one_hot, categorical_features)], remainder = "passthrough")
transformed_X = transformer.fit_transform(X)
    

model = RandomForestRegressor()
model.get_params()
X_train, X_test, y_train, y_test = train_test_split(newx, y, test_size = 0.2)
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.22094092417931943

In [122]:
transformed_X

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

In [123]:
newx

,Doors,Odometer (KM),Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Make_missing,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White,Colour_missing
0,4.0,35431.0,0,1,0,0,0,0,0,0,0,1,0
1,5.0,192714.0,1,0,0,0,0,0,1,0,0,0,0
2,4.0,84714.0,0,1,0,0,0,0,0,0,0,1,0
3,4.0,154365.0,0,0,0,1,0,0,0,0,0,1,0
4,3.0,181577.0,0,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,4.0,35820.0,0,0,0,1,0,1,0,0,0,0,0
996,3.0,155144.0,0,0,0,0,1,0,0,0,0,1,0
997,4.0,66604.0,0,0,1,0,0,0,1,0,0,0,0
998,4.0,215883.0,0,1,0,0,0,0,0,0,0,1,0
999,4.0,248360.0,0,0,0,1,0,0,1,0,0,0,0